
@{
    ViewBag.Title = "Index";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    

    <title>Home - Service Worker Example</title>
</head>

<body>
    <header>
        <h1>Service Worker Example</h1>
    </header>
    <nav>
        <ul>
            <li class="current">
                <a href="index.html">Page 1</a>
            </li>
            <li>
                @Html.ActionLink("About", "About", "Home",null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </nav>
    <main>
        <p> This is Page 1 Content</p>
    </main>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                console.log('App is loaded');
                navigator.serviceWorker.register('/Content/service-worker.js')
                    .then(() => {
                        console.log("Service Worker registerd");
                    })
            })
        }
    </script>
</body>

</html>

